<!-- Assignment 2 -->
<!-- Name: Emmanuel Ayobanjo -->
<!-- Student ID: 3173959 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Successful</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384- EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../../static/House_Appliance_Inventory/style.css" type="text/css">
</head>
<body>
    <div id="confirmation_back_to_home">
        <a href="../../../index.html" class="btn btn-secondary mt-3 ms-3">Back to Home</a>
    </div>
    <!-- Display the confirmation message -->
    <div class="alert alert-success text-center" role="alert">
        <h1>Appliance Successfully Registered</h1>
        <img src="../../static/appliances/success.png" alt="Success" class="img-fluid mt-3" style="max-width: 150px;">
    </div>
    <div class="text-center">
        <a href="add_appliance.php" class="btn btn-primary mt-3">Register Another Appliance</a>
    </div>
</body>
</html>